Repository RapidField/solid-instruments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RapidField/solid-instruments-contributors, @RapidField/solid-instruments-maintainers, @RapidField/solid-instruments-administrators

Minor documentation changes.
  AUTHORS.md
  CONTRIBUTING.md
  RapidField.SolidInstruments.sln
  SECURITY.md
Owners: @RapidField/solid-instruments-maintainers

Removing elements from docweb index.
  doc/index.md
Owners: @RapidField/solid-instruments-maintainers

Fixing directory links.
  cicd/README.md
  example/README.md
Owners: @RapidField/solid-instruments-maintainers

Testing a doc change.
  cicd/README.md
Owners: @RapidField/solid-instruments-maintainers

Actually fixing hyperlinks.
  cicd/README.md
  example/README.md
Owners: @RapidField/solid-instruments-maintainers

Removing Twofish and Threefish components.
  src/RapidField.SolidInstruments.Cryptography/Extensions/SymmetricAlgorithmSpecificationExtensions.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/SymmetricAlgorithmSpecification.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish1024CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish1024EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish256CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish256EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish512CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/Threefish512EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/ThreefishCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/ThreefishCryptoServiceProvider.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Threefish/ThreefishTransform.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish128CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish128EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish192CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish192EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish256CbcCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/Twofish256EcbCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/TwofishCipher.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/TwofishCryptoServiceProvider.cs
  src/RapidField.SolidInstruments.Cryptography/Symmetric/Twofish/TwofishTransform.cs
  test/RapidField.SolidInstruments.Cryptography.UnitTests/Symmetric/SymmetricBinaryProcessorTests.cs
  test/RapidField.SolidInstruments.Cryptography.UnitTests/Symmetric/SymmetricProcessorTests.cs
Owners: @RapidField/solid-instruments-contributors

Removing string parsing extensions.
  src/RapidField.SolidInstruments.Core/Extensions/StringExtensions.cs
Owners: @RapidField/solid-instruments-contributors

Fixing use of tasks.
  src/RapidField.SolidInstruments.DataAccess.EntityFramework/EntityFrameworkTransaction.cs
  src/RapidField.SolidInstruments.DataAccess/DataAccessTransaction.cs
  src/RapidField.SolidInstruments.Messaging.AzureServiceBus/AzureServiceBusClientFactory.cs
  src/RapidField.SolidInstruments.Messaging/RapidField.SolidInstruments.Messaging.csproj
  src/RapidField.SolidInstruments.Messaging/Service/MessagingServiceExecutor.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/DurableMessageQueue.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/DurableMessageQueueOperationalState.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/DurableMessageQueuePersistenceException.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/IDurableMessageQueueOperation.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/IDurableMessageQueuePersistenceProxy.cs
  test/RapidField.SolidInstruments.Core.UnitTests/Concurrency/ConcurrencyControlTokenTests.cs
Owners: @RapidField/solid-instruments-contributors

Minor housekeeping.
  Build.ps1
  cicd/scripts/EncryptCodeSigningCertificate.ps1
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/IDurableMessageQueueOperation.cs
  src/RapidField.SolidInstruments.Messaging/TransportPrimitives/IDurableMessageTransport.cs
Owners: @RapidField/solid-instruments-maintainers, @RapidField/solid-instruments-contributors

Tweaking Codecov configuration.
  codecov.yml
Owners: @RapidField/solid-instruments-administrators

Minor change to PR template.
  PULL_REQUEST_TEMPLATE.md
Owners: @RapidField/solid-instruments-maintainers

Adding section to bug report template.
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @RapidField/solid-instruments-administrators

Adding section to feature request template.
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @RapidField/solid-instruments-administrators

Modifying revision control section.
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @RapidField/solid-instruments-administrators

Fixing branch name templates.
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @RapidField/solid-instruments-administrators

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @RapidField/solid-instruments-administrators

Renaming defect report file.
  .github/ISSUE_TEMPLATE/DEFECT_REPORT.md
Owners: @RapidField/solid-instruments-administrators

Renaming feature request file.
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Owners: @RapidField/solid-instruments-administrators

Changing verbiage around defect reports.
  .github/ISSUE_TEMPLATE/DEFECT_REPORT.md
Owners: @RapidField/solid-instruments-administrators

Minor change to defect report template.
  .github/ISSUE_TEMPLATE/DEFECT_REPORT.md
Owners: @RapidField/solid-instruments-administrators

Minor changes to feature request template.
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Owners: @RapidField/solid-instruments-administrators

Adding question and maintenance issue templates.
  .github/ISSUE_TEMPLATE/MAINTENANCE_REQUEST.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  RapidField.SolidInstruments.sln
Owners: @RapidField/solid-instruments-administrators, @RapidField/solid-instruments-maintainers

Minor tweaks to configuration.
  .mergify.yml
  appveyor.yml
  codecov.yml
  psakefile.ps1
Owners: @RapidField/solid-instruments-administrators, @RapidField/solid-instruments-maintainers

.github/CODEOWNERS:

# =================================================================================================================================
# Copyright (c) RapidField LLC. Licensed under the MIT License. See LICENSE.txt in the project root for license information.
# =================================================================================================================================

# This file governs automatic review requests.
# ---------------------------------------------------------------------------------------------------------------------------------

/example/       @RapidField/solid-instruments-contributors
/src/           @RapidField/solid-instruments-contributors
/test/          @RapidField/solid-instruments-contributors
.editorconfig   @RapidField/solid-instruments-maintainers
.gitattributes  @RapidField/solid-instruments-maintainers
.gitignore      @RapidField/solid-instruments-maintainers
*.config        @RapidField/solid-instruments-maintainers
*.json          @RapidField/solid-instruments-maintainers
*.md            @RapidField/solid-instruments-maintainers
*.ps1           @RapidField/solid-instruments-maintainers
*.sln           @RapidField/solid-instruments-maintainers
/cicd/          @RapidField/solid-instruments-maintainers
/doc/           @RapidField/solid-instruments-maintainers
/.github/       @RapidField/solid-instruments-administrators
*.enc           @RapidField/solid-instruments-administrators
*.yml           @RapidField/solid-instruments-administrators
LICENSE.txt     @RapidField/solid-instruments-administrators
